<p>
	<%= @address.country %>
</p>

<p>
	<%= @address.state %>
</p>

<p>
	<%= @address.city %>
</p>

<p>
  <%= @address.pincode %>
</p>

<p>
  <%= @address.apartment_name %>
</p>

<p>
  <%= @address.landmark %>
</p>

<p>
  <%= @address.street %>
</p>
