<h2 class="head"> Address </h2>
<div class="container main-form">
  <div class="card shadow-sm p-3">
    <div class="card-body">
    	<dl class="dl-horizontal">
    		<dt>Address1</dt>
    		<dd><%= @address.address1 %></dd>

				<dt>Address2</dt>
    		<dd><%= @address.address2 %></dd>

        <dt>Country</dt>
    		<dd><%= @address.country %></dd>

    		<dt>State</dt>
    		<dd><%= @address.state %></dd>

    		<dt>City</dt>
    		<dd><%= @address.city %></dd>

    		<dt>Pincode</dt>
    		<dd><%= @address.pincode %></dd>
        
        <%= link_to 'Back', root_path, class: "btn btn-primary", method: :get %>
			</dl>	
		</div>
	</div>
</div>